<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <title>ORGAN DONOR</title>
    <link rel = "icon" href ="http://localhost:3000/images/logo.png" type = "image/x-icon">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="D:\ORGAN_DONOR\CSS\style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <style>
    html{
      scroll-behavior: smooth;
    }
     *{
       margin: 0; padding: 0; font-family: 'Roboto Slab';
     }
   /* Make the image fully responsive */
   .carousel-inner img {
     width: 100%;
     height: 550px;
   }

 </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark  fixed-top " style="color:white">
    <!-- Brand -->
    <a class="navbar-brand" href="D:\ORGAN_DONOR\HTML\index.html">
    <img src="http://localhost:3000/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Organ Donor
  </a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link"  href="D:\ORGAN_DONOR\HTML\index.html">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#org">Organs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#reg">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#typ">Know About</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>


      <div class="jumbotron" align='center'>
        <h1  style=" color:#0f4c81"  style="text-decoration: underline" ><b>Cornea Donation</b></h1><p></p>
        <img style="width: 150px;height:150px" src="http://localhost:3000/images/C.jpg" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>A corneal transplant is a surgical procedure that replaces part of a person’s cornea with corneal tissue from a donor. Cornea donation is necessary for the preservation and restoration of sight — one cornea donor can restore sight to 2 people. What are the basics of a cornea donation? Read below for more information.</b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <div class="container" style="text-align: left">


        <h2 style="color:#0f4c81"><b>When is cornea donation needed?</b></h2>
        <p>The cornea is the clear dome-like window covering the front of the eye that allows the light to pass through to the retina, and enables us to see. According to the Mayo Clinic, a corneal transplant is a surgical procedure that uses donor corneal tissue to replace a person’s damaged corneal tissue.<p></p>

        Did You Know: While we use the term “eye donation”, there is no whole eye transplantation. Most often only corneal tissue is recovered for transplantation.<p></p>

        Corneal transplants restore sight to those suffering from vision loss mainly due to corneal blindness commonly caused by:<p></p>
        <div class="container" align='center' >


        <div class="container" style="text-align: left;">
          <ul>
            <li>Trauma/infection to the cornea</li>
            <li>Keratoconus (cornea becomes cone shaped)</li>
            <li>Fuch’s Dystrophy</li>
            <li>Pseudophakic Bullous Keratopathy</li>
            <li>Corneal degeneration</li>
          </ul>
        </div>
          </div>



        Other reasons for corneal transplantation may include corneal injuries or infections.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>Who can donate corneal tissue?</b> </h2>
        <p>Everyone is a universal donor for corneal tissue — the donor’s blood type does not have to match the blood type of the recipient. Age, eye color and eyesight are not factors either. Aside from those suffering from infections or a few highly communicable diseases, most people are potential cornea donors.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How can my donated cornea help?</b> </h2>
        <p>A cornea donation can be lifesaving and lifegiving — corneal transplants can restore vision, reduce pain, and improve the appearance of unhealthy cornea. Since 1961, more than 1,800,000 men, women and children worldwide have had their sight restored through corneal transplantation. According to the Eye Bank Association of America (EBAA), more than 84,000 help to restore sight each year. More than 95% of all corneal transplant operations successfully restore the cornea recipient’s vision.</p>
      </div>
      </div>
      <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1 style="color:#0f4c81">Organs and Tissues for Transplant</h1><br> <h1></h1>

      <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div>








          <!-- BODY ORGANS ENDS -->

          <div id="reg"class="jumbotron" style="background-color: white ; padding-bottom:0% ; padding-top: 3%">
          <div class="jumbotron" style=" background-color: #72b5b7; text-align: center; border: 4px solid black; border-radius: 20px ">
            <h2 style="font-size: 20px;align: center;padding-left: 10%;padding-right: 10%">By signing up to become an organ, eye, and tissue donor, you can make a difference in the lives of more than 75 people. Make LIFE possible, register here to become a donor.</h2><br> <h1></h1>
            <input type="button" name="" class=" btn btn-warning" style="font-size: 30px;border-radius: 10px; padding-bottom:1% " value="Register Here">
          </div>
        </div>


  <div class="container-fluid"  >
  <footer>
  <p class="text-center bg-dark text-white" style="padding:5px;">@copyright Organ Donor 2020</p>
  </footer>
  </div>
    <!-- FOOTER END -->

</body>
</html>
